/* Général */
@font-face {
	font-family: "Open Sans";
	font-display: swap;
	src: url("polices/open-sans-600.woff2") format("woff2"),
		url("polices/open-sans-600.woff") format("woff");
}
*:focus,
*:active{
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
*{
	scrollbar-color: #cdcdcd #f0f0f0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
body{
	background: url("../img/erreur.jpg");
	background-size: cover;
	background-position: center center;
	font-family: "Open Sans", Arial, sans-serif;
	margin: 0;
}

/* Corps */
div::before{
	content: "";
	height: calc(28px + 10px);
}
div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 100vh;
}
p{
	font-size: 34px;
	color: #ffffff;
	margin: 0;
}
a{
	color: #bfbfbf;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	transition: 0.3s;
	text-decoration: none;
	outline: none;
	padding: 5px 10px 10px;
}
a:hover{
	color: #8b8b8b;
}
a:active{
	color: #727272;
}

/* Version tablette */
@media only screen and (min-width: 800px) and (max-width: 1080px){
	/* Corps */
	p{
		font-size: 28px;
	}
	a{
		font-size: 16px;
	}
}

/* Version mobile */
@media screen and (max-width: 799px){
	/* Corps */
	p{
		font-size: 24px;
	}
	a{
		font-size: 14px;
	}
}

/* Version sombre */
@media (prefers-color-scheme: dark){
	/* Général */
	*{
		scrollbar-color: #1a1a1a #333333;
	}
}