/* Général */
@font-face {
	font-family: "Open Sans";
	font-display: swap;
	src: url("polices/open-sans-600.woff2") format("woff2"),
		url("polices/open-sans-600.woff") format("woff");
}
html {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
* {
	scrollbar-color: #cdcdcd #f0f0f0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-top: 118px;
	color: #000000;
	background-color: #f2f1f5;
	font-family: "Open Sans", Arial, sans-serif;
}
img {
	user-select: none;
}

/* Header */
header {
	display: flex;
	position: fixed;
	width: 100vw;
	z-index: 1;
	top: 0;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.2s ease-out;
}
.retractHeader {
	transform: scaleY(0.7) !important;
}
.retractDiv {
	opacity: 0;
	visibility: hidden;
}
.retractImg {
	transform: scale(0.8) !important;
}
.retractTxt {
	transform: scale(0.9) !important;
}

	/* Box gauche */
#boxGauche {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 27.5%;
	transition-property: opacity, visibility;
	transition-duration: 0.2s;
	transition-delay: ease-out;
}
#boxGauche > a {
	color: #000000;
	font-size: 20px;
	padding: 5px;
	text-transform: uppercase;
	text-decoration: none;
	user-select: none;
	outline: none;
	opacity: 1;
	transform: scale(1);
	transition-property: color, transform;
	transition-duration: 0.2s;
}
#boxGauche > a:hover {
	color: #646464;
}
#boxGauche > a:active {
	color: #838383;
}

	/* Box centrale */
#boxCentre {
	display: flex;
	justify-content: center;
	width: 45%;
}
#boxCentre > img {
	width: 390px;
	height: 98px;
	line-height: 98px;
	padding: 10px 0;
	text-align: center;
	cursor: pointer;
	transform: scale(1, 1);
	transition: transform 0.2s ease-out;
}
.retractLogo {
	transform: scale(0.6, 0.85) !important;
}

	/* Box droite */
#boxDroite {
	display: flex;
	flex-direction: column;
	width: 27.5%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition-property: opacity, visibility;
	transition-duration: 0.2s;
	transition-delay: ease-out;
}
#boxDroite > div {
	display: flex;
	width: 100%;
}
#boxDroite > div:first-child > img {
	display: block;
	margin: auto;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	transform: scale(1);
	transition: transform 0.2s ease-out;
}
#valeursMinMax {
	visibility: hidden;
	height: 0px;
	overflow-y: hidden;
	transition-property: visibility, height;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
#valeursMinMax > p {
	width: 100%;
	margin: 0;
	font-size: 32px;
	text-align: center;
	transform: scale(1);
	transition: transform 0.2s;
}
#valeursMinMax > p:first-child {
	color: #f9700e;
}
#valeursMinMax > p:last-child {
	color: #09a4dd;
}
.developperDiv {
	height: 35px !important;
	visibility: visible !important;
}

/* Corps */
	/* Element parent */
h1 {
	width: 70%;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-image: radial-gradient(#000000, #ffffff) 1;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > section {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 60vw;
	margin-bottom: 20px;
	padding: 30px 0;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 15px 20px -15px #cecece;
}
section > div:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

	/* Section donnée actuelle */
section > section:first-child {
	margin-top: 20px;
}
#jauge {
	margin: 20px;
	width: 200px;
	height: 100px;
}
#jauge > svg {
	width: 100%;
	height: 100%;
}

	/* Section graphique */
section > section:last-child > div:last-child {
	position: relative;
	width: 100%;
	height: 450px;
}
div.plotly-notifier {
	visibility: hidden;
}
.user-select-none.svg-container {
	position: unset !important;
}
.xtick > text,
.ytick > text,
.hovertext > text {
	font-size: 14px !important;
}

/* Version ordinateur portable */
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
	/* Corps */
		/* Element parent */
	section > section {
		width: 65vw;
	}
}

/* Version tablette */
@media only screen and (min-width: 800px) and (max-width: 1080px) {
	/* Header */
		/* Box centrale */
	#boxCentre > img {
		width: 350px;
		height: 88px;
		line-height: 88px;
	}

		/* Box droite */
	#boxDroite > div:first-child > img {
		width: 56px;
		height: 56px;
		line-height: 56px;
	}

	/* Corps */
		/* Element parent */
	section > section {
		width: 90vw;
	}
}

/* Version mobile */
@media screen and (max-width: 799px) {
	/* Général */
	body {
		padding-top: 197px;
	}

	/* Header */
	header {
		flex-wrap: wrap;
		padding-bottom: 10px;
	}
	.retractHeader {
		transform: scaleY(0.4) !important;
	}

		/* Box gauche */
	#boxGauche {
		width: 45%;
		height: 79px;
		order: 2;
		transition-property: height, opacity, visibility;
		will-change: height;
	}
	#boxGauche > a {
		transition-duration: 0.1s;
	}

		/* Box centrale */
	#boxCentre {
		width: 100%;
		order: 1;
	}
	#boxCentre > img {
		width: 320px;
		height: 80px;
		line-height: 80px;
		padding: 15px 0 13px;
		transform-origin: top;
	}
	.retractLogo {
		transform: scale(0.6, 1.5) !important;
	}

		/* Box droite */
	#boxDroite {
		width: 55%;
		height: 79px;
		order: 3;
		z-index: 10;
		transition-property: height, opacity, visibility;
		will-change: height;
	}
	#boxDroite > div:first-child > img {
		width: 44px;
		height: 44px;
		line-height: 44px;
	}
	#valeursMinMax > p {
		font-size: 24px;
	}

	/* Corps */
		/* Element parent */
	h1 {
		width: 80%;
		border-width: 0 0 3px 0;
	}
	section > section {
		width: 98vw;
		margin-bottom: 15px;
	}

		/* Section donnée actuelle */
	section > section:first-child {
		margin-top: 15px;
	}

		/* Section graphique */
	.xtick > text,
	.ytick > text {
		font-size: 12.5px !important;
	}
	.hovertext > text {
		font-size: 11.5px !important;
	}
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
	/* Général */
	* {
		scrollbar-color: #1a1a1a #333333;
	}
	body {
		background-color: #1c1c1e;
		color: #bebebe;
	}

	/* Header */
	header {
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1;
		box-shadow: 0 15px 20px -15px #080808;
	}

		/* Box gauche */
	#boxGauche > a {
		color: #bebebe;
	}
	#boxGauche > a:hover {
		color: #8b8b8b;
	}
	#boxGauche > a:active {
		color: #727272;
	}

	/* Corps */
		/* Element parent */
	h1 {
		border-image: radial-gradient(#ececec, #000000) 1;
	}

		/* Section donnée actuelle */
	section > section {
		background-color: #000000;
		box-shadow: 0 15px 20px -15px #080808;
	}
}