/* Général */
@font-face {
	font-family: "Open Sans";
	font-display: swap;
	src: url("polices/open-sans-600.woff2") format("woff2"),
		url("polices/open-sans-600.woff") format("woff");
}
*:focus,
*:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
* {
	scrollbar-color: #cdcdcd #f0f0f0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
body {
	display: flex;
	flex-direction: column;
	background-color: #f2f1f5;
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	margin: 0;
	padding-top: 118px;
}
img {
	user-select: none;
}

/* Header */
header {
	display: flex;
	position: fixed;
	width: 100vw;
	z-index: 1;
	top: 0;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

	/* Box gauche */
#boxGauche {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 27.5%;
}
#boxGauche > a {
	color: #000000;
	font-size: 20px;
	padding: 5px;
	text-transform: uppercase;
	text-decoration: none;
	user-select: none;
	outline: none;
	opacity: 1;
	transition: all 0.2s;
}
#boxGauche > a:hover {
	color: #646464;
}
#boxGauche > a:active {
	color: #838383;
}

	/* Box centrale */
#boxCentre {
	display: flex;
	justify-content: center;
	width: 45%;
}
#boxCentre > img {
	width: 390px;
	height: 98px;
	line-height: 98px;
	padding: 10px 0;
	text-align: center;
	transition: all 0.2s ease-out;
}

	/* Box droite */
#boxDroite {
	display: flex;
	flex-direction: column;
	width: 27.5%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#boxDroite > div {
	display: flex;
	width: 100%;
}
#boxDroite > div:first-child > img {
	display: block;
	margin: auto;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	transition: all 0.2s ease-out;
}
#valeursMinMax {
	visibility: hidden;
	height: 0px;
	overflow-y: hidden;
	transition: all 0.4s ease-in-out;
}
#valeursMinMax > p {
	width: 100%;
	margin: 0;
	font-size: 32px;
	text-align: center;
}
#valeursMinMax > p:first-child {
	color: #f9700e;
}
#valeursMinMax > p:last-child {
	color: #09a4dd;
}

/* Corps */
	/* Element parent */
h1 {
	width: 70%;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-image: radial-gradient(#000000, #ffffff) 1;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > section {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 60vw;
	margin-bottom: 20px;
	padding: 30px 0;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 15px 20px -15px #cecece;
}
section > div:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

	/* Section donnée actuelle */
section > section:first-child {
	margin-top: 20px;
}
#jauge {
	margin: 20px;
	width: 200px;
	height: 100px;
}
#jauge > svg {
	width: 100%;
	height: 100%;
}

	/* Section graphique */
section > section:last-child > div:last-child {
	position: relative;
	width: 100%;
	height: 450px;
}
div.plotly-notifier {
	visibility: hidden;
}
*:not(h1):not(a):not(p):not(#jauge > div) {
	font-size: 14px !important;
}
.user-select-none.svg-container {
	position: unset !important;
}

/* Version ordinateur portable */
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
	/* Corps */
		/* Element parent */
	section > section {
		width: 65vw;
	}
}

/* Version tablette */
@media only screen and (min-width: 800px) and (max-width: 1080px) {
	/* Header */
		/* Box centrale */
	#boxCentre > img {
		width: 350px;
		height: 88px;
		line-height: 88px;
	}

		/* Box droite */
	#boxDroite > div:first-child > img {
		width: 56px;
		height: 56px;
		line-height: 56px;
	}

	/* Corps */
		/* Element parent */
	section > section {
		width: 90vw;
	}
}

/* Version mobile */
@media screen and (max-width: 799px) {
	/* Général */
	body {
		padding-top: 197px;
	}

	/* Header */
	header {
		flex-wrap: wrap;
		padding-bottom: 10px;
	}

		/* Box gauche */
	#boxGauche {
		width: 45%;
		height: 79px;
		order: 2;
		transition: all 0.2s ease-out;
	}
	#boxGauche > a {
		transition: 0.1s;
	}

		/* Box centrale */
	#boxCentre {
		width: 100%;
		order: 1;
	}
	#boxCentre > img {
		width: 320px;
		height: 80px;
		line-height: 80px;
		padding: 15px 0 13px;
	}

		/* Box droite */
	#boxDroite {
		width: 55%;
		height: 79px;
		order: 3;
		z-index: 10;
		transition: all 0.2s ease-out;
	}
	#boxDroite > div:first-child > img {
		width: 44px;
		height: 44px;
		line-height: 44px;
	}
	#valeursMinMax > p {
		font-size: 24px;
	}

	/* Corps */
		/* Element parent */
	h1 {
		width: 80%;
		border-width: 0 0 3px 0;
	}
	section > section {
		width: 98vw;
		margin-bottom: 15px;
	}

		/* Section donnée actuelle */
	section > section:first-child {
		margin-top: 15px;
	}

		/* Section graphique */
	*:not(h1):not(a):not(p):not(#jauge > div) {
		font-size: 10px !important;
	}
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
	/* Général */
	* {
		scrollbar-color: #1a1a1a #333333;
	}
	body {
		background-color: #1c1c1e;
		color: #bebebe;
	}

	/* Header */
	header {
		background-color: #000000;
		z-index: 1;
		box-shadow: 0 15px 20px -15px #080808;
	}

		/* Box gauche */
	#boxGauche > a {
		color: #bebebe;
	}
	#boxGauche > a:hover {
		color: #8b8b8b;
	}
	#boxGauche > a:active {
		color: #727272;
	}

	/* Corps */
		/* Element parent */
	h1 {
		border-image: radial-gradient(#ececec, #000000) 1;
	}

		/* Section donnée actuelle */
	section > section {
		background-color: #000000;
		box-shadow: 0 15px 20px -15px #080808;
	}
}