/* Général */
@font-face {
	font-family: "Open Sans";
	font-display: swap;
	src: url("polices/open-sans-600.woff2") format("woff2"),
		url("polices/open-sans-600.woff") format("woff");
}
*:focus,
*:active{
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
*{
	scrollbar-color: #cdcdcd #f0f0f0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
body{
	display: flex;
	flex-direction: column;
	background-color: #f0f0f0;
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	margin: 0;
}

/* Header */
header{
	display: flex;
	background-color: #f9f9fb;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
}

	/* Box gauche */
nav{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 27.5%;
}
a{
	color: #000000;
	font-size: 20px;
	text-transform: uppercase;
	transition: 0.3s;
	text-decoration: none;
	outline: none;
	padding: 5px;
}
a:hover{
	color: #646464;
}
a:active{
	color: #838383;
}

	/* Box centrale */
header > div:nth-child(2){
	display: flex;
	justify-content: center;
	width: 45%;
}
header > div:nth-child(2) > img{
	width: 390px;
	height: 98px;
	padding: 10px 0;
}

	/* Box droite */
header > div:last-child{
	display: flex;
	flex-direction: column;
	width: 27.5%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
header > div:last-child > div{
	display: flex;
	width: 100%;
}
header > div:last-child > div:first-child > img{
	display: block;
	margin: auto;
	width: 64px;
	height: 64px;
}
header > div:last-child > div:last-child{
	display: none;
	height: 35px;
}
header > div:last-child > div:last-child > p{
	width: 100%;
	margin: 0;
	font-size: 32px;
	text-align: center;
}
header > div:last-child > div:last-child > p:first-child{
	color: #f9700e;
}
header > div:last-child > div:last-child > p:last-child{
	color: #09a4dd;
}

/* Corps */
	/* Element parent */
h1{
	width: 70%;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-image: radial-gradient(#000000, #ffffff) 1;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > section{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 60vw;
	margin-bottom: 20px;
	padding: 30px 0;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 15px 20px -15px #cecece;
}
section > div:last-child{
	display: flex;
	align-items: center;
	justify-content: center;
}

	/* Section donnée actuelle */
section > section:first-child{
	margin-top: 20px;
}
section > section:first-child > p{
	font-size: 36px;
	margin: 0;
}

	/* Section graphique */
.user-select-none.svg-container{
	position: unset !important;
}
section > section:last-child > div:last-child{
	position: relative;
	width: 100%;
	height: 450px;
}
*:not(h1):not(a):not(p){
	font-size: 14px !important;
}
div.plotly-notifier{
	visibility: hidden;
}

/* Version ordinateur portable */
@media screen and (min-width: 770px) and (max-width: 1370px){
	/* Header */
		/* Box centrale */
	header > div:nth-child(2) > img{
		width: 350px;
		height: 88px;
	}

		/* Box droite */
	header > div:last-child > div:first-child > img{
		width: 56px;
		height: 56px;
	}

	/* Corps */
		/* Element parent */
	section > section{
		width: 70vw;
	}
}

/* Version mobile */
@media screen and (max-width: 769px){
	/* Header */
	header{
		flex-wrap: wrap;
		padding-bottom: 10px;
	}

		/* Box gauche */
	nav{
		width: 45%;
		order: 2;
	}
	a{
		transition: 0.1s;
		display: block;
		padding: 20px 10px;
	}

		/* Box centrale */
	header > div:nth-child(2){
		width: 100%;
		order: 1;
	}
	header > div:nth-child(2) > img{
		width: 320px;
		height: 80px;
		padding: 15px 0 13px;
	}

		/* Box droite */
	header > div:last-child{
		width: 55%;
		height: 79px;
		order: 3;
		cursor: default;
	}
	header > div:last-child > div:first-child > img{
		width: 44px;
		height: 44px;
	}
	header > div:last-child > div:last-child > p{
		font-size: 24px;
	}

	/* Corps */
		/* Element parent */
	h1{
		width: 80%;
		border-width: 0 0 3px 0;
	}
	section > section{
		width: 98vw;
		margin-bottom: 15px;
	}

		/* Section donnée actuelle */
	section > section:first-child{
		margin-top: 15px;
	}
	section > section:first-child > p{
		font-size: 36px;
	}

		/* Section graphique */
	*:not(h1):not(a):not(p){
		font-size: 10px !important;
	}
}

@media (prefers-color-scheme: dark){
	/* Général */
	*{
		scrollbar-color: #1a1a1a #333333;
	}
	body{
		background-color: #333333;
		color: #bfbfbf;
	}

	/* Header */
	header{
		background-color: #010101;
		z-index: 1;
		box-shadow: 0 15px 20px -15px #131313;
	}

		/* Box gauche */
	a{
		color: #bfbfbf;
	}
	a:hover{
		color: #8b8b8b;
	}
	a:active{
		color: #727272;
	}

	/* Corps */
		/* Element parent */
	h1{
		border-image: radial-gradient(#ececec, #232224) 1;
	}
	section{
		background-color: #333333;
	}

		/* Section donnée actuelle */
	section > section{
		background-color: #232224;
		box-shadow: 0 15px 20px -15px #131313;
	}
}